
@media screen and (max-width: 830px) {
	video {
		height: 23em;
		width: 46em;
	}

	header {
		height: 115px;
	}	

	.site-header__name {
		font-size: 45px;
	}

	.section-about__text-content p {
		width: 670px;
		font-size: 1.2em;
		letter-spacing: 2px;
		line-height: 2em;
		text-align: left;
		font-weight: 400;
		font-family: Lato;
	}

	.section-projects__text-content p {
		width: 670px;
		font-size: 1.2em;
		letter-spacing: 2px;
		line-height: 2em;
		text-align: left;
		font-weight: 400;
		font-family: Lato;

		margin-left: auto;
		margin-right: auto;
	}

	.section-projects__text-content h6 {	
		width: 400px;
		margin-bottom: 3em;
		
		margin-left: 50px;
		text-align: left;
		display: inline-block;
		font-size: 0.7em;
		font-weight: 400;
		letter-spacing: 4px;
		font-family: 'Montserrat';

		line-height: 25px;
	}


}
